@import url(header.css);
@import url(main.css);

html {
  scroll-behavior: smooth;
  font-family: "Arimo", sans-serif;
  background-color: #181818;
  color: #f3f6f9;
}

body{
    width: 930px;
    margin: 0 auto;
}
